<div class="content-wrapper">
  <div class="container-fluid">

    <div class='temp'>
      <p class="title">
        Bathroom
      </p>

      <div class='inner'>
        <div class='icon'></div>
        <div class="cell">
          <div class='title'>
            <div class='text'>{{titel}}</div>
          </div>
          <div class="number">
            {{temperatuur}}
          </div>
        </div>

        <div class="cell">
          <div class='title'>
            <div class='text'>Target</div>
          </div>
          <div class="number">
            <input type="number" [(ngModel)]="temperatuur"/>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>

